@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

article {
    border: 2px solid white;
    padding: 5px;
    width: fit-content;
    margin: 10px;
}
.comment {
    border: 1px solid white;
    margin: 10px;
    padding: 5px;
}
.blogform {
    margin-bottom: 50px;
}
body {
    background-color: rgb(24, 24, 24) !important;
    color: white !important;
}
main {
    padding: 10px !important;
}
button {
    background-color: white;
    color: black;
    border-radius: 5px !important;
    border: 2px solid white;
}
a {
    color: rgb(255, 216, 216) !important;
}